@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    scrollbar-width: none;

}

html,
body {
    height: 100vh;
    width: 100vw;
    /* background-color: rgb(26, 24, 24); */
  background: linear-gradient(#123, #111);
    /* color: wheat;  */
    overflow: scroll;
}
  
.initial-snow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.initial-snow > * {
	font-size: 20px;
	color: rgba(59, 120, 122, 0.218);
	position: absolute;
	top: -5vh;
}

@keyframes snowfall {
	0% {
		transform: translate3d(var(--left-ini), 0, 0);
	}

	100% {
		transform: translate3d(var(--left-end), 110vh, 0);
	}
}

.snow:nth-child(2n) {
	filter: blur(1px);
	font-size: 40px;
    --size: 0.8vw;
	--left-ini: 0vw;
	--left-end: -1vw;
	left: 70vw;
	animation: snowfall 9s linear infinite;
	animation-delay: -1s;
}

.snow:nth-child(6n) {
	filter: blur(2px);
	font-size: 30px;
    --size: 0.2vw;
	--left-ini: -3vw;
	--left-end: 9vw;
	left: 88vw;
	animation: snowfall 14s linear infinite;
	animation-delay: -5s;
}

.snow:nth-child(10n) {
	filter: blur(5px);
	font-size: 30px;
    --size: 0.2vw;
	--left-ini: 5vw;
	--left-end: 1vw;
	left: 35vw;
	animation: snowfall 6s linear infinite;
	animation-delay: -7s;
}



.header {
    width: 90%;
    /* max-width: 320px; */
    /* background-color: red; */
    margin: 5%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 32px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
   border-radius: 5px;
    border:3px solid #60A5FA ;
    
    
}

.title h1{
    color: #F9FAFB;
    font-size: 40px;
    margin-bottom: 5px;
}

.title h4{
    color: #D1D5DB;
    font-size: 10px;
}

.quote{
    margin-top: 10px;
}

.quote p{
    color: #9CA3AF;
    margin-bottom: 5px;
}
.quote h4{
    /* padding-left: 60px; */
    color:#60A5FA ;
    font-size: 10px;
    padding-left: 5%;
}

@media(min-width:768px){
    .header{
        display: flex;
        justify-content:flex-start;
        gap: 20%;
        width: 94%;
        margin: 2%  auto;
        padding: 20px;
    }

    .title h1{
        color: #F9FAFB;
        font-size: 40px;
        margin-bottom: 5px;
    }
    
    .title h4{
        font-size: 13px;
        color: #D1D5DB;
    }

    .quote{
        margin-top: 10px;
    }
    
    .quote p{
        color: #9CA3AF;
        margin-bottom: 10px;
    }
    .quote h4{
        /* padding-left: 60px; */
        color:#60A5FA ;
        font-size: 13px;
    }
}


.main {
    width: 90%;
    /* max-width: 320px; */
    height: 100%;
    /* background-color: purple; */
    margin: 5%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media(min-width:768px){
    .main {
        width: 94%;
        margin: 2%  auto;
        padding: 0px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.section-1 {
    width: 100%;
    height: 100%;
    /* background-color: green; */
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin-bottom: 20px;
}

.weather {
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 0.5fr 0.5fr;
    /* background-color: rgb(150, 64, 64); */
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 32px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
   border-radius: 5px;
    
}

.temp {
    font-size: 20px;
    border:3px solid #60A5FA ;
    border-radius:5px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D1D5DB;
   
    
}

.condition {
    font-size: 10px;
    border:3px solid #60A5FA ;
    border-radius:0px 5px 0px 0px;
    color: #D1D5DB;
    text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column; */
   
}



.location {
    grid-column-start: 1;
    grid-column-end: 3;
    border:3px solid #60A5FA ;
    border-radius:0px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D1D5DB;
   
}

.humidity {
    grid-column-start: 1;
    grid-column-end: 3;
    border:3px solid #60A5FA ;
    border-radius:0px 0px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D1D5DB;
   
}

.date-time {
    
    /* background-color: rgb(179, 0, 255); */
    /* font-size: 30px; */
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 32px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
   border-radius: 5px;
    /* color: rgb(12, 248, 0); */
    /* padding: 3px; */
    /* position: relative; */

}

.date{
    /* position: absolute; */
    /* padding:0; */
    width: 100%;
    /* height: 75%; */
    /* border:3px solid red; */
    /* top: 0px; */
    border:3px solid #60A5FA ;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 3px;
    color: #D1D5DB;
    text-align: center;
    font-weight: 200;
}

.date-time .year{
    font-size:65px;
    /* padding: 0 5px 0; */
   
}

.date-time .day-month{
    font-size: 50px;
    /* padding-left:5px; */
   
   
}



.time{
    /* display: inline; */
    width:100%;
    height: 19%;
    font-size: 25px;
    color: #D1D5DB;
    /* background-color: blanchedalmond; */
    /* position: absolute; */
    /* top: 80%; */
    padding-left: 5px;
    border:3px solid #60A5FA ;
    border-radius: 0px 0px 5px 5px;
    text-align: center;
}



.pomodoro {
    grid-column-start: 1;
    grid-column-end: 3;
    /* background-color: navy; */
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 32px rgba(255, 255, 255, 0.25);
    border:3px solid #60A5FA ;
    backdrop-filter: blur(10px);
   border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    font-weight: 300;
}

.pomodoro .btn:hover{
    background-color:lightblue;
    color: black;
    cursor: pointer;
}

.disabled{
    pointer-events: none;
    opacity: 0.5;
}

.session{
    background-color: transparent;
    border: 3px solid #9CA3AF;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    border-radius:5px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #F9FAFB;
}
.long-break{
    background-color: transparent;
    border: 3px solid #9CA3AF;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    border-radius:0px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #F9FAFB;
}
.short-break{
    background-color: transparent;
    border: 3px solid #9CA3AF;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;
    border-radius:0px 5px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #F9FAFB;
}
.timer{
    background-color: transparent;
    border: 3px solid #9CA3AF;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
    border-radius:0px 0px 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #F9FAFB;
}
.start-button{
    background-color: transparent;
    border: 3px solid #9CA3AF;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
    border-radius:0px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #F9FAFB;
}
.stop-button{
    background-color: transparent;
    border: 3px solid #9CA3AF;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
    border-radius:0px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #F9FAFB;
}
.end-button{
    background-color: transparent;
    border: 3px solid #9CA3AF;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
    border-radius:0px 0px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #F9FAFB;
}

@media(min-width:768px){


    .section-1 {
        width: 100%;
        height: 100%;
        max-height: 200px;
        /* background-color: green; */
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(4, 1fr);
        gap: 18px;
        /* margin-bottom: 20px; */
    }

    .time{
        /* display: inline; */
        width:100%;
        height: 21.5%;
        font-size: 25px;
        color: #D1D5DB;
        /* background-color: blanchedalmond; */
        /* position: absolute; */
        /* top: 80%; */
        /* padding-left: 5px; */
        padding:5px 0 0 0;
        border:3px solid #60A5FA ;
        border-radius: 0px 0px 5px 5px;
        text-align: center;
    }

    .pomodoro {
        grid-column-start: 3;
        grid-column-end: 5;
        /* background-color: navy;   */
        padding: 5px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 5px;
    }

    .session{
        background-color: transparent;
        border: 3px solid #9CA3AF;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        border-radius:5px 0px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        color: #F9FAFB;
    }
    .long-break{
        background-color: transparent;
        border: 3px solid #9CA3AF;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 4;
        border-radius:0px 0px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        color: #F9FAFB;
    }
    .short-break{
        background-color: transparent;
        border: 3px solid #9CA3AF;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 4;
        grid-column-end: 5;
        border-radius:0px 5px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        color: #F9FAFB;
    }
    .timer{
        background-color: transparent;
        border: 3px solid #9CA3AF;
        grid-row-start: 2;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 4;
        border-radius:0px 0px 0px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        color: #F9FAFB;
    }
    .start-button{
        background-color: transparent;
        border: 3px solid #9CA3AF;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 4;
        grid-column-end: 5;
        border-radius:0px 0px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        color: #F9FAFB;
    }
    .stop-button{
        background-color: transparent;
        border: 3px solid #9CA3AF;
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 4;
        grid-column-end: 5;
        border-radius:0px 0px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        color: #F9FAFB;
        
    }
    .end-button{
        background-color: transparent;
        border: 3px solid #9CA3AF;
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 4;
        grid-column-end: 5;
        border-radius:0px 0px 5px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        color: #F9FAFB;
        
    }
    
    

}








.section-2 {
    width: 100%;
    height: 100%;
    /* background-color: rgb(61, 81, 61); */
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}

.to-do-list {
    display: flex;
    flex-direction: column;
    /* background-color: yellowgreen; */
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 32px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
   border-radius: 5px;
    min-height: 300px;
    max-height: 400px;
    border:3px solid #60A5FA ;
    padding: 8px;
    
}

.add_task{
    max-height: 50px;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding-top: 2px;
    
    /* background-color: rgb(255, 255, 255); */
    
}

.add_task input{
    width: 80%;
    height: 90%;
    border-radius: 5px 0px 0px 5px;
    border: none;
    outline: none;
    text-align: left;
    padding-left: 15px;
    background-color: rgba(128, 128, 128, 0.26);
    backdrop-filter: blur(10px);
    color: #F9FAFB;

}

.add_task button{
    width: 18%;
    height: 90%;
    border-radius: 0px 5px 5px 0px;
    border: none;
    outline: none;
    background-color: rgba(255, 243, 243, 0.334);
    
    backdrop-filter: blur(10px);
}

.add_task button:hover{
    background-color: lightblue;
    color: black;
    cursor: pointer;
}

.display_task{
    width: 100%;
    height: 90%;
    /* background-color: rgb(33, 28, 23); */
    overflow-y: scroll;
    scrollbar-width: none;
   padding: 10px 5px 5px;
   color: #F9FAFB;
    
}

li{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px  ;
    user-select: none; /* The user-select CSS property controls whether the user can select text within an element */
    cursor: pointer;
    position:relative;
}

li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(https://static.vecteezy.com/system/resources/previews/028/556/520/original/circle-icon-on-a-white-background-free-vector.jpg);
    background-size: cover;
    background-position: center;
    top: 9px;
    left :8px;

}

.checked{
    text-decoration: line-through;
}

.checked::before{
    background-image: url(https://static.vecteezy.com/system/resources/previews/010/152/436/non_2x/tick-check-mark-icon-sign-symbol-design-free-png.png);
}

.journal {

    /* background-color: aqua; */
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 32px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    padding: 3px;
   border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:3px solid #60A5FA ;
    /* margin-bottom: 20px; */
}

.journal textarea{
    font-size: 20px;
    width: 95%;
    height: 95%;
    padding: 5px;
    overflow-y: scroll;
    scrollbar-width: none;
   border-radius: 5px;
    padding-left: 20px;
    background-color: rgba(128, 128, 128, 0.301);
    backdrop-filter: blur(10px);
    color: #F9FAFB;
}


@media(min-width:768px){
    .section-2 {
        margin-top: 18px;
        width: 100%;
        height: 100%;
        /* background-color: rgb(61, 81, 61); */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 18px;
    }
    
    
}


.footer {
    width: 300px;
    max-width: 320px;
    background-color: rgb(170, 99, 99);
    margin: 10px;
    padding: 10px;
    height: 100px;
}